@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   .light-t {
      @apply bg-gray-100 text-black border-gray-400
   }
   .dark-t {
      @apply bg-gray-900 text-white border-white
   }
   .card-light-t{
      @apply bg-gray-200 hover:bg-gray-300 text-black border-gray-400 cursor-pointer transition-all duration-200
   }
   .card-dark-t{
      @apply bg-gray-800 hover:bg-gray-700 text-white border-white cursor-pointer  transition-all duration-200
   }
}

html {
   scroll-behavior: smooth;
}

.font-body {
   font-family: 'Chakra Petch', sans-serif;
}

.font-logo {
   font-family: 'Playwrite CU', sans-serif;
}


/* scroll bar */
/* width */
::-webkit-scrollbar {
   height: 8px;
   width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #94a3b8;
   border-radius: 5px;
   transition: width 2s;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #64748b;
}
