@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   .dark-t {
      @apply bg-gray-900 text-white
   }

   .f-icon {
      @apply
   }
}

html {
   scroll-behavior: smooth;
}

.font-body {
   font-family: 'Chakra Petch', sans-serif;
}

.font-logo {
   font-family: 'Playwrite CU', sans-serif;
}


/* scroll bar */
/* width */
::-webkit-scrollbar {
   height: 8px;
   width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #94a3b8;
   border-radius: 5px;
   transition: width 2s;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #64748b;
}
